.card-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px;
  padding: 0;
  display: flex;
}
.card-wrapper {
  border-radius: 10px;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 540px;
  box-shadow: 0 5px 10px black;
}
.card-image {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  transform: scale(1);
  
}

.card-info {
  font-family: Arial;
  color: rgb(151, 151, 151);
  margin-left: 50px;
}

.title {
  font-family: "Roboto Condensed";
  font-size: 35px;
  border-bottom: 2px solid rgb(109, 136, 130);
  text-shadow: 0 1px 10px solid black;
}

@media screen and (max-width: 768px) {
  .card-container {
    margin: 0px;
    margin-top: 10px;
    flex-direction: column;
  }
  .card-wrapper {
    width: 240px;
  }
  .card-info{
    margin: 50px;
  }
}

.description {
  font-family: "Roboto Condensed";
  font-size: 35px;
  border-bottom: 2px solid rgb(109, 136, 130);
  text-shadow: 0 1px 10px solid black;
}

h2 {
  font-family: "Consolas";
  color: beige;
  animation: color-change 6s infinite linear;
}

@keyframes color-change {
  0% {
    color: rgb(108, 143, 132);
  }
  25% {
    color: rgb(61, 73, 73);
  }
  50% {
    color: rgb(129, 113, 93);
  }
  100% {
    color: rgb(73, 90, 97);
  }
}

.error {
  color: grey;
  margin: 50px;
}

#wrap {
  text-align: center;
}

.btn-slide, .btn-slide2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: #353535;
  border: 2px solid #0099cc;
  
  transition: .5s;
}

.btn-slide2 {
  border: 2px solid #292929;
}

.btn-slide:hover {
  background-color: #0099cc;
}

.btn-slide2:hover {
  background-color: #5c7581;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -45px;
  background-color: #fdfdfd;
  color: #0099cc;
}

.btn-slide2:hover span.circle2 {
  color: #585048;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
  left: 40px;
  opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
  display: block;
  background-color: #0099cc;
  color: #fff;
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background-color: #d9feff7a;
}

.btn-slide span.title,
.btn-slide span.title-hover, .btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #30abd5;
  transition: .5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: #d9feff7a;
  left: 80px;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  color: #fff;
}